@import url("https://fonts.googleapis.com/css?family=Crete+Round|Open+Sans:600");

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body, html {
  margin:0;
  padding: 0;
}

body {
  font-family: "Crete Round", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff;
}
